[user]
	name = Chris Van Patten
	email = chris@vanpattenmedia.com
	signingkey = 76D41F8F
[github]
	user = chrisvanpatten
[alias]
	submodule-rm = !sh ~/.dotfiles/git/git-submodule-rm.sh
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = ~/.dotfiles/git/.gitignore
[diff]
	external = ~/.dotfiles/git/git-diff-wrapper.sh
	tool = opendiff
[pager]
	diff =
[push]
	default = matching

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	external = ~/.dotfiles/git/git-diff-wrapper.sh
	tool = vimdiff
[mergetool]
	prompt = false
