# .bash_aliases

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# ls
alias ls='ls -CGF'
alias l='ls -CGF'

# Enable color support of ls
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

	alias ls='ls -CGF --color=auto'
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
fi

# Sudo (zsh parity)
alias _='sudo'

# Folder traversing (zsh parity)
alias ..='cd ..'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'

# More ls (zsh parity)
alias lsa='ls -lah'
alias l='ls -la'
alias ll='ls -l'
alias sl=ls # Typo fix

# Dictionary
alias dict="dict -d wn"

# GPG
alias gpgo="gpg --symmetric --personal-cipher-preferences "AES256""

# Git Aliases
alias gs="git status"
alias gp="git push"
alias gc="git commit"
alias gk="git commit"
alias gak="ga -A && gk"
alias glog="git lg"
alias glo="git lg"

# RWD thumbnail generator for VanPattenMedia.com
alias "vpmrwd"="~/dotfiles/scripts/generate-rwd.sh"

# Random
alias magic="bundle exec guard"

# Tail for nginx errors
alias tail-nginx-errors="tail -f /var/log/nginx/error.log | perl -pe 's/\[error\]/\e[1;255;31m$&\e[0m/g'"