# ls
alias l='ls -lah'

# Git Aliases
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gc="git commit"
alias gk="git commit"
alias gpa="git push --all"
alias gu="git checkout"
alias gcb="git checkout -b"
alias gak="git add -A && git commit"
alias glo="git lg"
alias gd="git diff"
alias gm="git merge"

# Vim alias
alias v="vim"

# Server aliases
alias cruella="ssh -p 4732 chris@cruella"
alias pongo="ssh -p 9012 chris@pongo"
alias go="ssh -p 7588 chris@go.cvp.me"
