# ls
alias ls='ls -a'
alias l='ls -lah'

# Git Aliases
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gc="git commit"
alias gk="git commit"
alias gpa="git push --all"
alias gu="git checkout"
alias gcb="git checkout -b"
alias gak="git add -A && git commit"
alias glo="git lg"
alias gd="git diff"
alias gm="git merge"

# Vim alias
alias v="vim"

# Server aliases
alias cruella="ssh -p 4732 chris@cruella"
alias pongo="ssh -p 9012 chris@pongo"

# tmux
alias tn="tmux new -s"
alias tl="tmux attach -t"
alias tls="tmux ls"

# Vagrant
alias vs="vagrant status"
alias vu="vagrant up"
alias vh="vagrant halt"
alias vd="vagrant suspend"

# Dev
alias wpsalts="echo '<?php' > wp-salts.php && curl https://api.wordpress.org/secret-key/1.1/salt >> wp-salts.php"

# Dictionary
alias dict="dict -d wn"
